# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Environments
.env
.venv
env/
venv/
ENV/

# Logs
logs/
*.log

# Local development
.idea/
.vscode/

# Project specific
visionbot.log 